h1 {
  color: #712e1e;
}

body {
  color:#f5f3f1;
 
  background :#68020F;
}

.navbar{
  background: #F21137;
  padding:1em;
 
}

.nav-item {

}
.container-fluid {
  margin: 20 30 20 30;
}

p {
  font-size:large;
  text-align: justify;
}


.form-group {
  width: 450px;
  margin: auto;
}

/* .img {
  position: relative;  
  width: 500px;
  height: 500px;
} */


.navbar-nav .nav-item ::after{

  content: "|";
  padding: 1em;
}

.navbar-nav .nav-item:last-child ::after{
  content: "";
}




.card {
  background-color: #888870;
  width: 300px;
  /* height: 300px; */
}


.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

