h1 {
  color: #712e1e;
}

body {
  color:#f5f3f1;
  height: 100%;
  background :#68020F;
}

html{
  height: 100%;
}

.navbar{
  background: transparent;
  padding:1em;
 
}

.tech {
  
  background-image: url(https://wallpapertag.com/wallpaper/full/a/6/5/332052-most-popular-tech-background-3840x2160-for-hd.jpg);
 
    
  
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    height: 50%;
  
}
.container-fluid {
  margin: 20 30 20 30;
}

p {
  font-size:large;
  text-align: justify;
}


.form-group {
  width: 450px;
  margin: auto;
}

/* .img {
  position: relative;  
  width: 500px;
  height: 500px;
} */


.navbar-nav .nav-item ::after{

  content: "|";
  padding: 1em;
}

.navbar-nav .nav-item:last-child ::after{
  content: "";
}




.card {
  background-color: #888870;
  width: 300px;
  /* height: 300px; */
}


.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

